/*------------------------------------------------------------------------------
  reset
------------------------------------------------------------------------------*/


html,
input,
textarea,
select,
button {
  font-family: "Noto Sans JP", sans-serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo,
    sans-serif;
  font-weight: 400;
}

html {
  color: #c4a25c;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  word-break: break-all;
  letter-spacing: 0.05em;
  font-family: lato;
}

body {
  background: #fff;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #c4a25c;
  text-decoration: none;
}

input[type="submit"],
input[type="text"],
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {

  a,
  a:before,
  a:after,
  a img:hover,
  button {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  a:hover,
  a img:hover,
  button:hover {
    opacity: 0.7;
  }
}


/*------------------------------------------------------------------------------
  css
------------------------------------------------------------------------------*/

.pc {
  display: block !important;
}

.outer-block {
  min-width: 1200px;
}

.inner-block {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  /*ここに記入します*/
}

/*------------------------------------------------------------------------------
  common
------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .c-title .jp {
    font-size: 16px;
    padding-bottom: 26px;
  }
}

/*-------------------------
  c-title
---------------------------*/
@media screen and (min-width: 768px) {}

.subpage .c-title {
  padding-top: 40px;
}

.c-title .en {
  font-family: lato;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.c-title .jp {
  font-family: dnp-shuei-mgothic-std;
}


.bg-green {
  background-color: #b1b39b;
  color: #FBF8F8;
}

.bg-green .c-title .jp {
  border-bottom: 0.5px solid #FBF8F8;
}

.bg-white {
  background-color: #fbf8f8;
  color: #c4a25c;
}

.bg-white .c-title .jp {
  border-bottom: 0.5px solid #c4a25c;
}

.subpage .c-title {
  text-align: center;
}

.subpage .en {
  font-size: 72px;
}

.subpage .jp {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .c-title {
    padding: 160px 0 100px 0;
  }

}

/*-------------------------
  c-button
---------------------------*/

.c-button {
  font-size: 18px;
  font-family: lato;
  height: 55px;
  border-radius: 27px;
  letter-spacing: 0.1em;
  margin-bottom: 170px;
}

.button-block {
  display: flex;
  justify-content: center;
}

.menu-block .brown-button {
  background-color: #c4a25c;
  color: #FBF8F8;
}

@media screen and (min-width: 768px) {
  .menu-block .brown-button {
    width: 230px;
    height: 55px;
    margin-top: 70px;
  }
}

/*-------------------------
  c-contact
---------------------------*/


/*------------------------------------------------------------------------------
  header-top
------------------------------------------------------------------------------*/

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list img {
  fill: #c4a25c;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #fff;
    display: block;
  }

  .nav-wrap {
    display: flex;
    justify-content: space-between;
  }

  header .nav-list {
    display: flex;
    align-items: center;
  }

  header .nav-list a {
    padding-left: 25px;
    font-family: lato;
  }

  .nav {
    padding: 15px 60px;
  }

  .nav-wrap .logo {
    width: 64px;
  }
}

/*------------------------------------------------------------------------------
  home
------------------------------------------------------------------------------*/

/*-------------------------
  mv
---------------------------*/

.mv-block .title {
  color: #b1b39b;
  font-family: lato, sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.mv-block .main-title {
  font-size: 40px;
  left: 0;
  padding: 80px 0 100px 0;
  font-family: fot-tsukuaoldmin-pr6n;
}

.mv-block .sub-title {
  font-family: dnp-shuei-mgothic-std;
  font-weight: 300;
  line-height: 2.2;
}

@media screen and (min-width: 768px) {
  .mv-block {
    padding: 200px;
  }

  .mv-block .concept {

    z-index: 3;
  }

  .concept-img img {

    width: 500px;
    border-radius: 270px;
    right: 0;
    top: 0;
    z-index: 2;
  }

}

@media screen and (min-width: 1350px) {
  .mv-block .concept {
    position: relative;
    z-index: 3;
  }

  .concept-img img {
    position: absolute;
    width: 500px;
    border-radius: 270px;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

/*-------------------------
  news
---------------------------*/

.news-block {
  background-color: #b1b39b;
  color: #FBF8F8;
}

.news-block .c-title .jp {
  border-bottom: 0.5px solid #FBF8F8;
}

.news-block .news-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 56px;
  padding-bottom: 56px;
}

.news-article .article-img {
  width: 330px;
}

.news-article .article {
  background-color: #FBF8F8;
  color: #b1b39b;
  width: 330px;
  height: 300px;
  padding: 40px 35px;
  position: relative;
}

.article .date {
  font-family: dnp-shuei-mgothic-std;
  font-size: 14px;
}

.article .title {
  font-family: dnp-shuei-mgothic-std;
  font-size: 18px;
  padding: 10px 0 20px;
}

.article p {
  font-family: dnp-shuei-mgothic-std;
  font-size: 14px;
}

.article .arrow {
  position: absolute;
  right: 30px;
  bottom: 40px;
}

.green-button {
  background-color: #FBF8F8;
  color: #b1b39b;
  width: 175px;
}

/*-------------------------
  menu
---------------------------*/
.menu-block .c-title .jp {
  border-bottom: 0.5px solid #c4a25c;
}

.menu-content .title {
  text-align: center;
  font-family: lato;
  font-weight: 100;
}

.menu-content .text {
  text-align: center;
  font-family: dnp-shuei-mgothic-std;
}

@media screen and (min-width: 768px) {
  .menu-content {
    display: flex;
    justify-content: space-between;
  }

  .menu-content .title {
    font-size: 72px;
    margin: 24px 0;
  }

  .menu-content .text {
    line-height: 2.1;
    inline-size: 400px;
    overflow: hidden;
    margin: auto;
  }
}


/*-------------------------
  info
---------------------------*/
.info-block {
  background-color: #b1b39b;
  color: #FBF8F8;
}

.info-block .c-title .jp {
  border-bottom: 0.5px solid #FBF8F8;
}

.info-wrap .title {
  padding-left: 16px;
}

.info-wrap .title::before {
  content: url('../image/home/info-diamond.svg');
  width: 16px;
  position: absolute;
  left: 28px;
  transform: translateY(-2px);
}

.info-wrap .title p {
  font-family: dnp-shuei-mgothic-std;
  font-size: 16px;
}

.info img {
  width: 9px;
}



@media screen and (min-width: 768px) {
  .info-wrap .map {
    width: 600px;
    height: 600px;
    padding-bottom: 160px;
  }

  .info-wrap {
    display: flex;
    justify-content: space-between;
  }

  .info-wrap li+li {
    margin-top: 70px;
  }

  .info-wrap .title p {
    padding-top: 8px;
  }
}

/*------------------------------------------------------------------------------
  footer
------------------------------------------------------------------------------*/

footer {
  padding: 40px;
  background-color: #f5f0ec;
}

footer .nav-list {
  display: flex;
  align-items: center;
}

footer .nav-list a {
  font-family: lato;
}

.footer-left {
  display: flex;
}

.footer-info {
  font-family: dnp-shuei-mgothic-std;
  line-height: 2;
}


@media screen and (min-width: 935px) {
  footer .nav-list li {
    padding: 16px;
  }


  .copy-right {
    font-size: 12px;
    font-weight: 300;
    padding-top: 40px;
    text-align: right;
  }
}

/*------------------------------------------------------------------------------
  下層共通　breadcrumb
------------------------------------------------------------------------------*/

.bg-green {
  background-color: #b1b39b;
}

.breadcrumb-green a,
.breadcrumb-green li {
  color: #fff;
}

.bg-white {
  background-color: #fbf8f8;
}

.breadcrumb-block li+li::before {
  content: ">";
  padding: 0 10px;
}

.breadcrumb-list {
  font-size: 16px;
  font-family: lato;
  padding-top: 110px;
  display: flex;
}

/*------------------------------------------------------------------------------
  下層共通　NEWS
------------------------------------------------------------------------------*/

.news .news-article p {
  display: none;
}

.news .news-article .article {
  height: 130px;
  padding: 20px 35px;
  position: relative;
}

.news .article-img {
  width: 330px;
}

.news .article .arrow {
  position: absolute;
}


@media screen and (min-width: 1140px) {
  .news .news-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px;
    padding-bottom: 50px;

    .news .article .arrow {
      right: 30px;
      bottom: 20px;
    }
  }

  .news .news-article {
    margin-bottom: 50px;
  }

  .news .news-content {
    gap: 56px;
    padding-bottom: 50px;
  }
}


@media screen and (min-width: 768px) {
  .news .news-content {
    display: flex;
    flex-wrap: wrap;
  }

  .news .article .arrow {
    right: 30px;
    bottom: 20px;
  }

  .news .news-article {
    margin-bottom: 50px;
    flex: auto;
    width: 50%;
  }

  .news .news-content {
    gap: 56px;
    padding-bottom: 50px;
  }
}

/*-------------------------
  page-area
---------------------------*/


.page-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 160px;
}

.page-area .current {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #FFF;
  background-color: #FFF;
  color: #b1b39b;
}

.page-number {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: lato;
}

.page-area a+a {
  margin: 0 10px;
}

.previous {
  padding-right: 75px;
}

.next {
  padding-left: 75px;
}

/*------------------------------------------------------------------------------
  下層共通　NEWS-single
------------------------------------------------------------------------------*/

.news-single {
  background-color: #b1b39b;
}

.news-single .news-article {
  background-color: #fff;
  color: #1c1c1c;
  padding: 100px 200px;
  margin: 80px 0;
  border-radius: 100px;
}

.shadow-none {
  box-shadow: none !important;
}

.news-single img {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.news-single .date,
.news-single p {
  font-size: 16px;
  font-family: dnp-shuei-mgothic-std;
}

.news-single .title {
  font-size: 20px;
  font-family: dnp-shuei-mgothic-std;
}

@media screen and (min-width: 768px) {}

/*------------------------------------------------------------------------------
  下層共通　MENU
------------------------------------------------------------------------------*/


.menu .inner-block {
  padding-bottom: 160px;
}

.menu .title {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 300;
}

.menu tbody {
  font-family: dnp-shuei-mgothic-std;
}

.menu td {
  padding-bottom: 24px;
}

.menu tr {
  width: 480px;
  display: flex;
  justify-content: space-between;
}




@media screen and (min-width: 768px) {

  
  .food .category {
    position: relative;

  }

  .bread {
    position: absolute;
    width: 480px;
    top: 0;
    right: 0;
  }

  .cake {
    position: absolute;
    width: 320px;
    top: 320px;
    right: 0;
  }


  .drink .category {
    margin-top: 160px;
    position: relative;
  }
  
  .coffee {
    position: absolute;
    top: 40px;
    right: 260px;
    width: 180px;
  }
  
  .smoothie {
    position: absolute;
    top: 50%;
    right: 0;
    width: 480px;
  }

}

/*------------------------------------------------------------------------------
  下層共通　ShopInfo
------------------------------------------------------------------------------*/
.subpage .shop-name {
  display: flex;
}

.shop-name p {
  font-size: 36px;
  font-weight: 300;
}

.subpage .shop .info-wrap {
  padding: 80px;
}

.subpage .shop iframe {
  display: flex;
  align-items: center;
}

.subpage .map {
  padding-bottom: 160px;
  width: fit-content;
  margin: 0 auto;
}

.subpage .info-left .title::before {
  content: url('../image/home/info-diamond.svg');
  width: 16px;
  position: absolute;
  left: 80px;
  transform: translateY(-2px);
}

.subpage .info-right .title::before {
  content: url('../image/home/info-diamond.svg');
  width: 16px;
  position: absolute;
  left: 595px;
  transform: translateY(-2px);
}



/*------------------------------------------------------------------------------
  下層共通　Contact
------------------------------------------------------------------------------*/

.contact .c-title .jp {
  border-bottom: 0.5px solid #c4a25c;
}

.contact .intro {
  text-align: center;
  font-family: dnp-shuei-mgothic-std;
}

.contact .intro .text {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 40px;
}

.intro .tel span {
  font-size: 16px;
  padding-right: 10px;
}

.intro .tel {
  font-size: 24px;
  font-weight: bold;
}

.intro .time {
  letter-spacing: 0.1em;
  margin: 8px 0 80px;
}

/*-------------------------
  contact-form
---------------------------*/
.contact-form .head {
  font-family: dnp-shuei-mgothic-std;
  color: #1c1c1c;
  font-weight: bold;
}

.contact-subpage {
  width: 700px;
  margin: 0 auto;
}

.contact-form input[type="text"] {
  background-color: #f3f3f3;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
}

.contact-form li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.contact-form textarea {
  background-color: #f3f3f3;
  width: 60%;
  height: 200px;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
}

.contact-form .required::after {
  content: "必須";
  width: max-content;
  height: max-content;
  border-radius: 5px;
  background-color: #c4a25c;
  color: #FFF;
  font-size: 12px;
  padding: 2px 8px;
  font-family: dnp-shuei-mgothic-std;
  text-align: center;
}

.contact-form .head {
  font-family: dnp-shuei-mgothic-std;
  color: #1c1c1c;
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-top {
  align-items: flex-start !important;
}

input::placeholder {
  font-family: dnp-shuei-mgothic-std;
  opacity: 40%;
}



/*-------------------------
  radio-button
---------------------------*/

.mwform-radio-field-text {
  font-family: dnp-shuei-mgothic-std;
  color: #1c1c1c;
}

.mwform-radio-field,
.horizontal-item {
  display: block;
  margin-bottom: 5px;
}

.radio-wrap {
  width: 60%;
}

.radio-wrap .mwform-radio-field input {
  display: none;
}

.mwform-radio-field-text {
  position: relative;
  padding-left: 20px;
}

.mwform-radio-field-text::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  border: 1px solid #c4a25c;
  left: 0;
  top: 1px;
  background-color: #FFF;
}

.mwform-radio-field-text::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 3px;
  top: 4px;
  background-color: #c4a25c;
  opacity: 0;
  transition: opacity 0.4s;
}

.radio-wrap input:checked+.mwform-radio-field-text::after {
  opacity: 1;
}


/*------------------------------------------------------------------------------
  下層共通　Privacy-policy
------------------------------------------------------------------------------*/

.privacy-content {
  margin: 160px 80px;
}


.privacy-policy .c-title .jp {
  border-bottom: 0.5px solid #c4a25c;
}

.privacy-policy .intro p {
  font-family: dnp-shuei-mgothic-std;
  font-size: 14px;
  text-align: center;
  margin-bottom: 80px;
}

.privacy-content {
  font-family: dnp-shuei-mgothic-std;
}

.privacy-content .title {
  font-weight: bold;
  margin-bottom: 16px;
}

.privacy-content .text {
  font-size: 14px;
  margin-bottom: 80px;
}

.privacy-check {
  color: #1c1c1c;
  text-align: center;
  font-family: dnp-shuei-mgothic-std;
}

.privacy-check .beige {
  color: #c4a25c;
}

.privacy-check .text {
  margin: 80px 0 24px;
}

.privacy-check input {
  display: none;
}

.mwform-checkbox-field-text {
  position: relative;
  padding-left: 24px;
}

.mwform-checkbox-field-text::before {
  content: '';
  position: absolute;
  border-radius: 4px;
  height: 14px;
  width: 14px;
  border: 1px solid #1c1c1c;
  left: 0;
  top: 0;
  background-color: #FFF;
}

.mwform-checkbox-field-text::after {
  content: '✔︎';
  position: absolute;
  border-radius: 4px;
  height: 10px;
  width: 10px;
  left: 3px;
  top: -5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.privacy-check input:checked+.mwform-checkbox-field-text::after {
  opacity: 1;
}

form .c-button {
  background-color: #c4a25c;
  color: #FBF8F8;
  width: 160px;
  height: 55px;
  margin-top: 48px;
}